.grille {
    display: grid;
    grid-template-rows: min-content min-content 5fr min-content;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas:
        "nav nav nav"
        "header header header"
        "main main main"
        "footer footer footer";
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color:snow;
}

.top {
    grid-area: nav;
    background-color: lightgray;
    width: 100%;
    height: 100%;
}
.upcenter{
    grid-area: header;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2em;
    border: 4px dashed black;
}
.headicon{
    width: 20%;
    height: 60%;
}
.center {
    grid-area: main;
    width: 100%;
    text-align: left;
    margin-top: 5px;
}

.bottom {
    grid-area: footer;
    width: 100%;
    background-color: lightgray;
    text-align: right;
}

a:hover {
    color: blue;
}

.links {
    color: black;
}
.buttonleft{
    background-color: snow;
    float: left;
    margin: 10px;
    padding: 5px 10px;
    min-width: 6em;
    text-align: center;
}
.buttonright{
    background-color: snow;
    float: right;
    margin: 10px;
    padding: 5px 10px;
    min-width: 6em;
    text-align: center;
}
div.galerie {
    margin: 5px;
    border: 1px solid lightgray;
    float: left;
    width: 45%;
  }
  
  div.galerie:hover {
    border: 1px solid gray;
  }
  
  div.galerie img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
@media screen and (width < 800px){

    .profile{
 width: 15%;
    height: 80%;
    border-radius: 50%;
float: right;
    margin: 5px;
    }
}